body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

.info p {
    color: #666;
    line-height: 1.6;
}

.info .link {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.video-link {
    color: #007bff;
    text-decoration: none;
}

#about, #contact {
    margin-top: 40px;
}

#link {
    text-align: center;
}

#links {
    margin-right: 5%;
    margin-left: 5%;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.hero-image {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 8px 8px 0 0;
}

.hero-text {
    text-align: center;
    padding: 50px;
    color: black;
    font-size: 30px;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    color: #666;
    line-height: 1.6;
}

.contact-info .icon {
    margin-right: 10px;
}

table {
    width: 100%;
    border-spacing: 10px; /* Větší mezera mezi buňkami */
}

table td {
    width: 8%; /* Relativní šířka sloupce */
    word-wrap: break-word; /* Zalamování textu */
}

.image-container {
    height: 200px; /* Požadovaná výška */
    overflow: hidden; /* Skrýt obsah přesahující rozměry kontejneru */
}

.image-container img {
    margin-top: -120px; /* Posune obrázek nahoru o 20px */
}

#icons {

    width: 5%; /* Zmenší obrázek na polovinu jeho původní šířky */
    height: auto; /* Ponechá původní poměr stran */
}